//scss comune 
body{
    font-family: $main-font;
    color: $principal-text-col;
    background: $back-color;
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
