header >*{
    display: flex;
    justify-content: center;
    a{
        margin-bottom: 20px;
    }
    i{
        margin: 15px;
        font-size: 20px;
        color:  $principal-text-col;
        cursor: pointer;
        font-family: $sidebar-font;
        font-style: normal;
    }
}