header >*{
    display: flex;
    justify-content: center;
    a{
        margin: 15px;
        font-size: 20px;
        color:  $principal-text-col;
        cursor: pointer;
        font-family: $sidebar-font;
        font-style: normal;
        transition: .5s;
        padding: 10px;
        &:hover, &:active {
            text-decoration: none;
            color: #001942;
            background-color: #B3E5FC;
            border-radius: 5px;
            transition: .2s;
        }
    }
}