.news{
    background-color: #e4efefb3;
    font-family: $sidebar-font;
    display: flex;
    align-items: center;
    margin: -20px 50%;
    .notizie{




        .notizia{

        }
    }
    h1{
        font-size: 40px;
    }
}