.prodotto{
    background-color : #b6dae7;
    margin-top: -20px;
    .navigazione{
        display: flex;
        a{
            color: cornsilk;
            font-size: 50px;
            font-weight: 800;
            background-color:#dae2e2f2;
            padding: 5px;
        }
        .precedente{
            position: absolute;
            top: 130%;
        }
        .successivo{
            position: absolute;
            top: 130%;
            right: 0%;
        }
    }
    .descrizione{
        padding-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
    }
}