.prodotto{
    background-color : $back-color-prodotto;
    margin-top: -20px;
    .navigazione{
        display: flex;
        a{
            color: cornsilk;
            font-size: 50px;
            font-weight: 800;
            background-color:#dae2e2f2;
            padding: 0px 10px 0px 10px;
            border-radius: 5px;
        }
        .precedente{
            position: absolute;
            top: 90%;
        }
        .successivo{
            position: absolute;
            top: 90%;
            right: 0%;
        }
    }
    .descrizione{
        padding-bottom: 50px;
        font-weight: bold;
        font-size: 20px;
        margin: 0 auto;
        width: 90%;
    }
}